.sliderContainer {
    width: calc(100% - 80px);
    height: calc(100vh - 122px) !important;
    margin: 0 40px !important;
    top: 82px;
    position: relative;
    overflow: hidden;
}

.fullpage-wrapper {
    height: fit-content !important;
}


#fp-nav {
    z-index: 1 !important;
    position: fixed;
    right: 70px !important;
    top: calc(50% + 62px);
    transform: translateY(-50%) !important;
}

#fp-nav ul {
    list-style: none;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fp-nav ul li {
    margin: 0 !important;
    width: fit-content !important;
    height: fit-content !important;
}
#fp-nav ul li a {
    margin: 0 !important;
    color: #ffffff;
    text-decoration: none !important;
    width: fit-content !important;
    height: fit-content !important;
}

#fp-nav ul li a div {
    text-align: center;
}

#fp-nav ul li a legend {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: none;
    transform: rotate(180deg);
}

#fp-nav ul li a.active legend {
    display: block;
}