.fullpage {
    width: calc(100% - 80px);
    height: calc(100vh - 82px) !important;
    margin: 0 40px !important;
    top: 82px;
}

#fp-nav {
    z-index: 999;
    position: fixed;
    right: 40px;
    top: calc(50% + 62px); /* 62 -> 86 - (40/2) */
    transform: translateY(-50%);
}

#fp-nav ul {
    list-style: none;
    margin-right: 70px;
}

#fp-nav ul li a {
    color: #ffffff;
    text-decoration: none !important;
}

#fp-nav ul li a span {
    display: block;
    text-align: center;
    opacity: 0.5;
}

#fp-nav ul li a legend {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: none;
    transform: rotate(180deg);
}

#fp-nav ul li a.active legend {
    display: block;
}